<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/app.css">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/search-bar.css">
  <link rel="stylesheet" href="../css/filmes.css">
  <link rel="stylesheet" href="../css/card.css">
  <script src="../js/data.js" defer></script>
  <script src="../js/app.js" defer></script>
  <script src="../js/card.js" defer></script>
  <script src="../js/filmes.js" defer></script>
</head>
<body>
  <header>
    <a href="./index.html" class="logo img"></a>
    <a href="./index.html" class="logo-title">Fruberg</a>
    <nav>
      <a href="./index.html">Inicio</a>
      <a href="./filmes.html">Filmes</a>
      <a href="./series.html">Séries</a>=
      <a class="login" href="#">Login <span class="img"></span></a>
    </nav>
  </header>

  <main>
    <section class="top-bar">
      <div class="title">
        <div class="img"></div>
        Lista de filmes
      </div>

      <div class="search-box">
        <div class="img"></div>
        <input type="text" name="search" id="search">
      </div>
    </section>

    <section class="list" id="list"></section>
  </main>
  
  <footer>
    <section class="info-footer">
      <div class="sala">
        <p>Trabalho escolar: </p>
        <p>
          1° Ano Desenvolvimento de Sistemas
        </p>
        <p>
          Feito para matéria Programação Web I
        </p>
        <p>
          Criado em 06/2023
        </p>
      </div>
      
      <div class="objetivo">
        <p>Objetivos do site: </p>
        <p>
          Possibilitar ao acesso de informações 
          sobre filmes no geral.
        </p>
        <p>
          Recomendar filmes da atualidade.
        </p>
      </div>

      <div class="names">
        <p>Criado por: </p>
        <p>
          Felipe Martins Frudeli
        </p>
        <p>
          João Felipe
        </p>
        <p>
          1 ° DS - Turma B - 2 Div 
        </p>
      </div>
    </section>
    <hr>
    <section class="nav-footer">
      <a href=""></a>
      <div class="logo img"></div>
      <p class="logo-title">Fruberg</p>
      <div class="creditos">
        &#169; Todo os direitos são de uso livre
      </div>
    </section>
  </footer>
</body>
</html>